@import url(https://fonts.googleapis.com/css?family=Raleway)
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans)

/*CLEARFIX DO NOT TOUCH*/
#info {
	padding: 1em;
	margin: 1em;
}

.left {
margin: 0 0 0 20%;
float: left;
}

.right {
margin: 0 10% 0 0;
float: right;
width: 40%
}

#map {
	width: 100%;
	max-width: 353px;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

/*END OF CLEARFIX*/
/*.names {
	margin: 0 auto;
	width: 50%;
	padding: 1em;
}

#names {
	width: 100%;
}*/

.hero {
	margin: 0 auto 2em auto;
	width: 80%;
	padding: 1em;
	border: solid 3px #D1A14A;
}

#hero {
	width: 100%;
}

.button {
	margin: 1em;
	padding: 1em;
	background: #E65F70;
	color: #FFF;
	text-decoration: none;
	border-style: solid;
	border-radius: 1em;
}

#buttonblock {
	padding: 2em;
	text-align: center;
}

.content {
	display: block;
	margin: 0 auto;
	width: 80%;
	text-align: center;
	padding: 2em 0;
}

body {
	font-family: 'Josefin Sans'; Arial; Sans-serif;
	font-size: 1em;
	background: url("../images/background.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
}

a:hover {
	background: #D32E5E;
}

h1 {
	font-family: 'Playfair Display'; serif;
	font-size: 5em;
	letter-spacing: .15em;
	text-align: center;
	padding: 1em 0em.5em 0em;
	color: #D1A14A;
	text-decoration: none;
}

#y {
	font-style: italic;
}

h2 {
	font-family: 'Josefin Sans'; Arial; Sans-serif;
	font-size: 1.25em;
	font-variant: small-caps;
	font-weight: 100;
	text-align: center;
	line-height: 1.25em;
	padding: 0em 0em .5em 0em;
	color: #000000;
}

h3 {
	font-family: 'Josefin Sans'; Arial; Sans-serif;
	font-size: 1.25em;
	line-height: 1.25em;
	padding: 0em 0em .5em 0em;
	color: #000;
}

p {
	font-family: 'Josefin Sans'; Arial; Sans-serif;
	font-size: 1.1em;
	line-height: 1.1em;
	color: #000;
}

ul {
	font-family: 'Raleway'; Arial; Sans-serif;
	font-size: 1em;
}

a {
	font-family: 'Raleway'; Arial; Sans-serif;
	text-decoration: none;
}

#targetregistry {
	width: 100%;
	max-width: 350px;
	margin: 1em 0em;
}

#macysregistry {
	margin: 1em 0em;
}


@media only screen and (max-width: 1180px) {
	.left {
	margin: 0 0 0 15%;
	}

	.right {
	margin: 0 10% 0 0;
	width: 40%;
	}

	h1 {
		font-size: 4em;
		padding: 1em 0em.5em 0em;
	}
}

@media only screen and (max-width: 1015px) {
	.left {
	margin: 0 0 0 10%;
	}

	.right {
	margin: 0 5% 0 0;
	width: 40%;
	}

	h1 {
		padding: 1em 0em.5em 0em;
	}
}

@media only screen and (max-width: 800px) {
	.left {
	margin: 0 0 0 10%;
	width: 40%;
	}

	.right {
	margin: 0 5% 0 0;
	width: 40%;
	}

	h1 {
	font-size: 2.5em;
	padding: 1em 0em.5em 0em;
	}

	h2 {
	font-size: 1.25em;
	padding: 0em 0em .5em 0em;
	}

	h3 {
	font-size: 1.25em;
	padding: 0em 0em .5em 0em;
	}

	p {
	font-size: 1em;
	}

	.hero {
	margin: 0 auto 1em auto;
	width: 90%;
	padding: 1em;
	}

	#hero {
	width: 100%;
	}

	.names {
	margin: 0 auto;
	width: 70%;
	padding: 3em 1em 1em 1em;
	}

	#names {
	width: 100%;
	}


@media only screen and (max-width: 480px) {
	.left {
	margin: 0 auto;
	width: 50%;
	float: none;
	padding: 1em;
	}

	.right {
	margin: 0 auto;
	width: 90%;
	float: none;
	padding: 1em;
	text-align: center;
	}

	h1 {
	font-size: 2em;
	padding: 1.5em 0em.5em 0em;
	}

	h2 {
		font-size: 1em;
	}
